[submodule "extern/lua-aot"]
	path = extern/lua-aot
	url = https://github.com/Frityet/lua-aot-5.4
	branch = self-loader
[submodule "extern/teal"]
	path = extern/teal
	url = https://github.com/teal-language/tl
	branch = next
