[submodule "extern/luaot"]
	path = extern/luaot
	url = https://github.com/Frityet/lua-aot-5.4
[submodule "extern/tl"]
	path = extern/tl
	url = https://github.com/teal-language/tl
[submodule "extern/argparse"]
	path = extern/argparse
	url = https://github.com/luarocks/argparse
